.jumbotron {
	background-color: #666;
}
.jumbotron h1 {
	color: #fff;
}
.jumbotron p {
	color: #fff;
}

.navbar-brand {
	font-weight: 200;
}
ul.nav {
	font-size: 13px;
}

.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}

/*
@media (max-width: 480px) {
	.hero-unit h1 {
		font-size: 40px;
	}
}

@media only screen and (min-width: 960px) {
 
    .wrapper{
        width:940px;
        margin:0 auto;
    }
}
*/